<!DOCTYPE html>
<html>
<head>
  <title>壹学儿</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="https://lexrus.github.io/fontdiao">
</head>
<body>
  
  <!-- Navigation -->
  <nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
      <div class="container topnav">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand topnav" href="/">壹学儿</a>
          </div>
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav navbar-right">
                  <li>
                      <a href="/#services">课程介绍</a>
                  </li>
                  <li>
                      <a href="/#contact">联系我们</a>
                  </li>
                  <% if user_signed_in? %>
                    <li><%= link_to "我的账户", edit_user_registration_path %></li>
                    <li><%= link_to "离开", destroy_user_session_path, method: :delete %></li>
                  <% else %>
                    <li>
                        <%= link_to "注册", new_user_registration_path %></a>
                    </li>
                    <li>
                        <%= link_to "登录", new_user_session_path %>
                    </li>
                  <% end %>
              </ul>
          </div>
          <!-- /.navbar-collapse -->
      </div>
      <!-- /.container -->
  </nav>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <%= yield %>

</body>
</html>
